{% extends 'header.html' %}
{%block content%}
<center><h2>User Registration</h2></center>
<div class="containerreg">
<div class="regform"><form name="myForm" id="TestForm" method = "POST">
	            <center><label>Name: </label>
	            <input type="text" id="for1Form" name="for1Form" placeholder="Enter name." required/>
	            </center>

	            <br>
	            <br>

	            <center><label>Number: </label>
	            <input type="number" id="for2Form" name="for2Form" min="1" max="999999999" required/>
	            </center>

	            <br>
	            <br>

	            <center><label>Email:</label>
	            <input type="text" id="for3Form" name="for3Form" placeholder="email@email.com" required/>
	            </center>
	            <br>

	            <center><input type="submit" id="btnConfirm" name="btnConfirm" value="Submit"/></center>

	            {% csrf_token %}

	       </form>
	   </div>

       <div class="regusers">
	       <center><h4>Registered Users:</h4>
	       <table id="tableregs">
	       	{% for item in warehouse %}
	       	<tr>
	       		<td>{{forloop.counter}}: {{item.name}}, {{item.number}}, {{item.email}}</td>
	       	</tr>
	       	{% endfor %}
	       </table>
	       </center>
       </div>
   </div>
       {% endblock %}
