{% extends 'header.html' %}
{%block content%}
<center><h2>User Subscription</h2></center>
<center><h3>Below are features that users can subscribe to.</h3>
<div class="subcontainer">
<form name="myForm" id="TestForm" method = "POST">
	<div class="subform">
           <center><label>Please Enter Your Name: </label>
            <input type="text" id="namesub" name="namesubs" placeholder="Enter name." required/>
            </center>
            <br>
            <center><b>Please pick a plan that interests you</b><br>
				<input type="radio" name="feat" id="plan1" value="Plan1" required>Plan 1:<br>
				<p>This plan includes access to specific walkthroughs and guides.</p>
				<input type="radio" name="feat" id="plan2" value="Plan2" required>Plan 2:<br>
				<p>This plan includes latest updates about new game releases and new game patches.</p>
				<input type="radio" name="feat" id="plan3" value="Plan3" required>Plan 3:<br>
				<p>This plan includes both plans 1 and 2.</p>
			</center>

            <center><input type="submit" id="btnConfirm" name="btnConfirm" value="Submit"/></center>

            {% csrf_token %}

       </form>
	</div>
	
        {% csrf_token %}

       <div class="planprice">
       	<p><b>Plan Prices:</b><br>
       		Plan 1 = 150 per month, can be cancelled anytime<br>
       		Plan 2 = 250 per month, can be cancelled anytime<br>
       		Plan 3 = 375 per month, can be cancelled anytime<br>
       	</p>
       </div>

       <div class="subtable">
	       <p>
	       	<b>Subscribed:</b><br>
	       </p>
		       <table id="tablesubs">
		       	{% for item in warehouse2 %}
		       	<tr>
		       		<td>{{forloop.counter}}: {{item.namesub}}, {{item.plan}}</td>
		       	</tr>
		       	{% endfor %}
		       </table>
       </div>
    </div>

{% endblock %}
